{% extends 'base.html' %}
{% block title %}Photo Detail{% endblock %}

    {% block contents %}
    <br>
    <div class="container">
        <div class="row">
            

                <!--1枚目の写真-->
                <p class = "text-center"><img src="{{ object.image1.url }}"></img></p>

                <h1 class = "text-center">{{object.title}}</h1>
                <p class = "text-justify" class="word-break-keep-all">{{object.comment}}</p>
                <p class = "text-center">{{object.posted_at}}に投稿</p>

                <!-- 投稿写真がログイン中のユーザーのものであれば削除ボタンを表示-->
                {% if request.user == object.user %}
                <form method="POST">
                    <!-- リンク先のURL
                        photo/<Photo postsテーブルのid値>/delete/-->
                            <a href="{% url 'photo:photo_delete' object.pk %}"
                            class="btn btn-primary my-2">削除する</a>
                            {% endif %}

        </div>
    </div>
    {% endblock %}