<!--タイトルとナビゲーションボタン-->
<section class="py-5 text-center" id="bg">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">

      <!--タイトルと本文-->
      <h1 class="fw-info"><strong>POMUKETU Photo</strong></h1>
      <p class="lead text-muted">
        コメントを見て写真に描かれた世界に思いを馳せましょう。</br>
        素敵な写真とコメントをお待ちしております。</p>
      <p>
        <!--ナビゲーションボタン-->
        {% if user.is_authenticated %}
        <!--ログインのボタン-->
        <a href="{% url 'photo:post' %}"
            class="btn text-light my-2" id="btn">
            投稿する</a>
        <a  href="{% url 'accounts:logout' %}"
            class="btn text-light my-2" id="btn">
            ログアウト</a>
        {% else %}
        <!--ログイン状態ではない場合のボタン-->
        <a  href="{% url 'accounts:signup' %}"
            class="btn text-light my-2" id="btn"
            >今すぐサインアップ</a>
        <a  href="{% url 'accounts:login' %}" id="btn"
            class="btn text-light my-2">
            登録済みの方はログイン</a>
        {% endif %}
      </p>
    </div>
  </div>
</section>