<!--タイトルとナビゲーションボタン-->
<section class="py-5 text-center" id="bg">
  <div class="">
    <div class="col-lg-12 col-md-12 mx-auto">


      <style>
        * {
          box-sizing: border-box;
          list-style: none;
          padding: 0;
          margin: 0;
        }
        h1 {
          margin-bottom: 100px;
        }
        h2 {
          margin-bottom: 50px;
        }
        /* スライドする要素 */
        .content {
          width: 200px;
          height: 200px;
        }
        /* スライドレールの枠 */
        .wrap {
          overflow: hidden;
          display: flex;
          align-items: center;
          height: 200px;
        }
        /* content4つをまとめたスライドブロック */
        .slideshow {
          display: flex;
          -webkit-animation: loop-slide 3s infinite linear 1s both;
          animation: loop-slide 3s infinite linear 1s both;
        }
        @-webkit-keyframes loop-slide {
          from {
            transform: translateX(0);
          }
          to {
            transform: translateX(-100%);
          }
        }
        @keyframes loop-slide {
          from {
            transform: translateX(0);
          }
          to {
            transform: translateX(-100%);
          }
        }
        ul {
          padding-left: 0rem!important;
        }
      </style>

      <div class="wrap">
        <ul class="slideshow">
          <li class="content"><img src='/static/img/pomu6.png'width="200"></li>
          <li class="content"><img src='/static/img/pomu7.png'width="200"></li>
          <li class="content"><img src='/static/img/pomu6.png'width="200"></li>
          <li class="content"><img src='/static/img/pomu7.png'width="200"></li>
        </ul>
        <ul class="slideshow">
          <li class="content"><img src='/static/img/pomu6.png'width="200"></li>
          <li class="content"><img src='/static/img/pomu7.png'width="200"></li>
          <li class="content"><img src='/static/img/pomu6.png'width="200"></li>
          <li class="content"><img src='/static/img/pomu7.png'width="200"></li>
        </ul>
        <ul class="slideshow">
          <li class="content"><img src='/static/img/pomu6.png'width="200"></li>
          <li class="content"><img src='/static/img/pomu7.png'width="200"></li>
          <li class="content"><img src='/static/img/pomu6.png'width="200"></li>
          <li class="content"><img src='/static/img/pomu7.png'width="200"></li>
        </ul>
      </div>
      
      <!--タイトルと本文-->
      <h1 class="fw-info"><strong>POMUPOMU Photo</strong></h1>
      <p class="lead text-muted">
        コメントを見て写真に描かれた世界に思いを馳せましょう。</br>
        素敵な写真とコメントをお待ちしております。</p>
      <p>
        <!--ナビゲーションボタン-->
        {% if user.is_authenticated %}
        <!--ログインのボタン-->
        <a href="{% url 'photo:post' %}"
            class="btn text-light my-2" id="btn">
            投稿する</a>
        <a  href="{% url 'accounts:logout' %}"
            class="btn text-light my-2" id="btn">
            ログアウト</a>
        {% else %}
        <!--ログイン状態ではない場合のボタン-->
        <a  href="{% url 'accounts:signup' %}"
            class="btn text-light my-2" id="btn"
            >今すぐサインアップ</a>
        <a  href="{% url 'accounts:login' %}" id="btn"
            class="btn text-light my-2">
            登録済みの方はログイン</a>
        {% endif %}
      </p>
    </div>
  </div>
</section>