{% extends 'base.html' %}

{% block title %}Photo Detail{% endblock %}

    {% block contents %}
    <br>
    <div class="container">
      <div align="center">
      
                    <img src='/static/img/pomu1.png' width="400" alt="">
                    <img src='/static/img/pomu2.png' width="350" alt="">
                    <img src='/static/img/pomu3.png' width="450" alt="">
                    <img src='/static/img/pomu4.png' width="450" alt="">
                    <img src='/static/img/pomu5.png' width="450" alt="">
                
    </div>
{% endblock %}