{% extends 'base.html' %}
{% block title %}Photo Detail{% endblock %}

    {% block contents %}
    <br>
    <div class="container">
        <div class="row">

                <h1 class = "text-center">18歳以上ですか？</h1>
                <a class = " w-100 btn btn-lg text-center text-light" id="btn" href="https://www.sanrio.co.jp/characters/pompompurin/" role="button">はい</a>
                <a class = " w-100 btn btn-lg text-center text-light" id="btn" href="https://www.sanrio.co.jp/characters/pompompurin/" role="button">いいえ</a>

        </div>
    </div>
{% endblock %}