{% extends 'base.html' %}
{% block title %}Photo Detail{% endblock %}

    {% block contents %}
    <br>
    <div class="container">
        <div class="row">
            <div align="center">

                <div align="center" class="example">
                    <img src='/static/img/pomu.png' alt="画像" width="300">
                </div>

                <h1 class = "text-center">18歳以上ですか？</h1>
                <a class = "btn btn-lg text-center text-light example" 
                    id="btn"
                    href="{% url 'photo:R18top' %}"
                    role="button">はい</a>
                <a class = "btn btn-lg text-center text-light example"
                    id="btn"
                    href="https://www.sanrio.co.jp/characters/pompompurin/"
                    role="button">いいえ</a>

        </div>
    </div>
{% endblock %}